{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body class="container">
        <div class="loginbox">
        <a href="/"><img src="{% static 'images/logo.png' %}" class="avatar" width="300" height="300"></a>
            <h1>Twitter Tweet Analysis</h1><br>
            <form method="POST" name="Userinput" id="Userinput" action="{% url 'sentiment' %}">
                {% csrf_token %}
               
                <input type="text" name="tweet" placeholder="Enter a Tweet">&nbsp;&nbsp;&nbsp;

                <button type="submit" class="btn btn-secondary btn-lg" id="sendMessageButton">Get Sentiment</button>
                <br>
               

            </form>  
        </div>
{% endblock %}
